<!DOCTYPE html>
<html>
  <head>
    <title>TshepoHarding</title>
    <link rel="stylesheet" href="templates/stylesheet.css"/>
    <style>
      
      #my-name{
        color:grey;
        font-size: 70px;
        text-shadow : 5px;
        text-align: center;
      }

      h3{
        font-size: 50px;
        text-align : center;
      }

      *{
        font-family : sans-serif
      }

      
      .nav-bar{
        font-size: 50px;
        background-color: white;
        width: 200px;
        height: 75px;
        color: black;
        
      }
    
    </style>
  </head>
  <body>
    <div class="nav-bar">
      <button type="button">Home</button>
      <button type="about">About</button>
      <button type="contact">Contact</button>
    </div>
    <h1 id="my-name">Tshepo Harding</h1>
    <h3>UX designer</h3>
    <p>I am a Python developer. I am passionate about creating digital products </p>
    <img scr="static/favicon.jpg" height="320">
    
    
  </body>
</html>